/* Estos son Pseudoselectores */
:root {
	/*Custom properties*/
	--white: #fff;
	--black: #212121;
	--primary: #ffc107;
	--secondary: #0097a7;
	--gris: #757575;
	--fuentes-principal: 3.8rem;
}

/*Estandarización de fuentes html y body*/
html {
	font-size: 62.5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
	font-size: 16px; /*1rem = 10px*/
	font-family: 'Josefin Sans', sans-serif;
}

.titulo {
	font-size: 3rem;
	color: var(--secondary);
}
.titulo span {
	font-size: 2rem;
}

.navegacion-principal {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
	background-color: var(--secondary);
}
.navegacion-principal a {
	text-decoration: none;
	font-size: 2.5rem;
	font-weight: 700;
	color: var(--white);
}
.navegacion-principal a:hover {
	background-color: var(--primary);
	padding: 0.5rem;
}

.contenedor {
}
.nav-bg {
	background-color: var(--black);
}
