/** Estos son Pseudoselectores **/

:root {
	/*Custom properties*/
	--white: #f7f1e3;
	--black: #2c2c54;
	--primary: #ffda79;
	--secondary: #34ace0;
	--gris: #f7f1e3;
	--red: #ff5252;
	--fuentes-principal: 3.8rem;

}

html {
	font-size: 62.5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
	font-size: 3.8rem;
	color: var(--white);
}

h2 {
	font-size: 2.8rem;
	color: var(--red);
}

h3 {
	font-size: 1.8rem;
}

h1,
h2,
h3 {
	text-align: center;
}

p {
	color: var(--white);
}

.header,
.titulo {
	color: var(--white);
}

.titulo span {
	font-size: 2rem;
}

/* Globales */
.contenedor {
	max-width: 120rem;
	/*120rem = 1200px*/
	margin: 0 auto;
}








.navegacion-principal a:hover {
	font-weight: lighter;
}

.btn-menu {

	display: flex;
	justify-content: flex-end;
	gap: 1rem;
}

.boton {
	background-color: var(--secondary);
	color: var(--white);
	padding: 1rem 3rem;
	margin-top: 2rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.5rem;
	text-align: center;
	width: 100%;
	border: none;
}

.boton:hover {
	cursor: pointer;
	background-color: var(--primary);
}

/*Utilidad*/
.w-sm-100 {
	width: 100%;
}

.flex {
	display: flex;
}

.alinear-derecha {
	justify-content: flex-end;
}

@media (min-width: 768px) {
	.boton {
		width: auto;
	}
}


.nav-bg {
	background-color: var(--black);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}


.navegacion-principal {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.navegacion-principal a {
	display: flex;
	color: var(--white);
	text-decoration: none;
	font-size: 3rem;
	font-weight: bold;
	padding: 1rem;
}

.navegacion-principal a:hover {
	background-color: var(--secondary);
	border-radius: 1rem;

}

/* Media Query para barra de navegación*/
@media (min-width: 768px) {
	.navegacion-principal {
		flex-direction: row;
		justify-content: space-between;
	}

}

/* inicio de hero y Ubicación */

.hero {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	/* agregamos para demostrar modelo de caja y quirtarlo mas adelante*/
	height: 45rem;
	/* padding: 20px; */
	position: relative;
}

.contenido-hero {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	/* background-color:rgba(0 0 0 / 0.5) */
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
	color: var(--white);
}

.ubicacion {
	display: flex;
	align-items: flex-end;
}

/*servicios*/
.sombra {
	-webkit-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
	-moz-box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
	box-shadow: 0px 1px 20px 1px rgba(0, 0, 0, 0.74);
	background-color: var(--black);
	padding: 2rem;
}

@media (min-width: 768px) {
	.servicios {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 2rem;
	}
}

.servicio {
	display: flex;
	flex-direction: column;
	align-items: center;

}

.servicio .iconos {
	height: 10rem;
	width: 10rem;
	background-color: var(--primary);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.servicio h3 {
	color: var(--secondary);
	font-weight: bold;
	font-size: 2rem;
}

.servicio p {
	line-height: 2rem;
}

.formulario {
	background-color: var(--gris);
	width: min(80rem, 100%);
	margin: 0 auto;
	padding: 2rem;
	border-radius: 1rem;
}

/* .formulario fieldset {
	border: none;
} */

.formulario legend {
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 2rem;
	color: var(--primary);
}

.contenedor-campos {}

.campo {
	margin-bottom: 2rem;
}

.campo label {
	display: block;
	color: var(--white);
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.campo .input-text {
	width: 100%;
	border: none;
	padding: 1.2rem;
	border-radius: 0.5rem;
}

.campo textarea {
	height: 15rem;
}

@media (min-width: 768px) {
	.contenedor-campos {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto auto;
		column-gap: 1.5rem;
	}
}

/*Nos da la pauta para seleccionar el hijo de cierta clase*/

.campo:nth-child(3) {
	grid-column: 1/2;
	/*aquí especifica que va ocupar el espacio de la columna 1 a la columna 3*/
}

.campo:nth-child(4) {
	grid-column: 1/3;
}

.footer {
	text-align: center;
	font-size: larger;
	font-weight: bold;
}

.bot-ini {
	display: flex;
	justify-content: center;
}