/** Estos son Pseudoselectores **/

:root {
	/*Custom properties*/
	--white: #fff;
	--black: #212121;
	--primary: #ffc107;
	--secondary: #0097a7;
	--gris: #757575;
	--fuentes-principal: 3.8rem;
}

html {
	font-size: 62.5%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
}

.titulo {
	text-align: center;
	font-size: 3.8rem;
	color: var(--black);
}
.titulo span {
	font-size: 2rem;
}

.contenedor {
	max-width: 120rem; /*120rem = 1200px*/
	margin: 0 auto;
}
.nav-bg {
	background-color: var(--secondary);
}
.navegacion-principal {
	display: flex;
	flex-direction: column;
}
.navegacion-principal a {
	display: block;
	color: var(--white);
	text-decoration: none;
	font-size: 3rem;
	font-weight: bold;
	padding: 1rem;
}
.navegacion-principal a:hover {
	background-color: var(--black);
	background-color: var(--primary);
}

/* Media Query para barra de navegación*/
@media (min-width: 768px) {
	.navegacion-principal {
		flex-direction: row;
		justify-content: space-between;
	}
}

/* inicio de hero y Ubicación */

.hero {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/* código temporal*/
	height: 45rem;
	/* padding: 20px; */
	position: relative;
}
.contenido-hero {
	position: absolute;
	background-color: rgba(248, 224, 2, 0.219);
	height: 100%;
	width: 100%;
}
